.container {
    border-radius: 14px;
    border: 2px solid #000;
    padding: auto;
    width: 15vw;
    height: 15vh;;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#result {
    text-align: right;
    margin-right: 12%;
    margin-top: 1.5vh;
}

.calc-button {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    margin: auto;
}

.number {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.operation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
